<!DOCTYPE html>
<html>
  <head>
    <title>My First Dash</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
  </head>

<body>
        <div class="wrapper" width="300" height="300">
                <h1>Stock Price</h1>
                <h2>Shows the stock price for the last several months</h2>
          
                <canvas id="line_chart"></canvas>
              </div>

</body>

<script>
    new Chart(document.getElementById("line_chart"), {
         type: 'line',
          data: {
            labels: {{days | tojson}},
            datasets: [{
              label: {{symbol | tojson}},
              borderColor: "#3e95cd",
              fill: false,
            data: {{values | tojson}}
            }]
          }, 
          options:{
        scales:{
            xAxes: [{
                
                ticks: {
                  autoSkip: true,
                  maxTicksLimit: 6
                } //this will remove all the x-axis grid lines
            }]
        }
    }


  });
</script>
</html>