<!DOCTYPE html>
<html>
  <head>
    <title>World population</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
  </head>

<body>
        <div class="wrapper" width="300" height="300">
                <h1>World population over time</h1>
                <h2>Number of people (in millions) living on earth, the last 500 years</h2>
          
                <canvas id="line_chart"></canvas>
              </div>

</body>

<script>
    new Chart(document.getElementById("line_chart"), {
         type: 'line',
          data: {
            labels: {{days | tojson}},
            datasets: [{
              label: {{symbol | tojson}},
              borderColor: "#3e95cd",
              fill: false,
            data: {{values | tojson}}
            }]
          }, 
          options: {
            title: {
              display: true,
              text: 'Stock Price'
            }
          }
        });
</script>
</html>